@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
body {
  font-family: "Open Sans";
  font-weight: 500;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .menu .logo {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
header .menu .logo img {
  max-width: 100%;
  height: auto;
}
header .menu .marca {
  font-size: 20px;
  margin-left: 10px;
  color: #fff;
}
header .menu-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
header .menu-list li {
  margin: 10px 20px;
}
header .menu-list a {
  color: #fff;
  text-decoration: none;
}
header .menu-icon {
  display: none;
  cursor: pointer;
}
header .menu-icon i {
  font-size: 20px;
  color: #fff;
}
header .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}
header .menu-icon:hover .bar {
  transform: rotate(90deg);
  transition: 0.4s;
}

#inicio {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
#inicio .inicio-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
}
#inicio .inicio-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
#inicio .inicio-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#inicio .btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}
#inicio .btn:hover {
  background-color: #0056b3;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.obra {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.obra img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.obra img:hover {
  filter: grayscale(0%);
}

#contacto {
  background-color: #f9f9f9;
  text-align: center;
  padding: 100px 0;
}
#contacto .contacto-content {
  max-width: 800px;
  margin: 0 auto;
}
#contacto .contacto-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#contacto .contacto-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
#contacto .contacto-content .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contacto .contacto-content .formulario input,
#contacto .contacto-content .formulario textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#contacto .contacto-content .formulario button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
#contacto .contacto-content .formulario button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  header .menu-list {
    display: none;
    position: absolute;
    width: 40%;
    background-color: #333;
    right: 0;
    top: 100px;
  }
  header .menu-list li {
    text-align: center;
    margin: 0;
  }
  header .menu-list a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
  }
  header .menu-list a:hover {
    background-color: #ddd;
    color: black;
  }
  .menu .menu-icon {
    display: block;
    cursor: pointer;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  height: auto;
}

.modal-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.modal-description {
  font-size: 1.2rem;
  margin: 10px 0;
}

.modal-cost {
  font-size: 1.2rem;
  margin: 10px 0;
}

.modal-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.modal-button:hover {
  background-color: #0056b3;
}/*# sourceMappingURL=styles.css.map */