@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.dashboard {
  display: grid;
  grid-template-areas: "header" "aside" "main" "footer";
  grid-template-rows: 100px 100px 1fr 100px;
}
.dashboard header {
  grid-area: header;
  background-color: #3e59aa;
}
.dashboard header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.dashboard header .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
}
.dashboard header .brand h1 {
  font-size: 25px;
  font-weight: 800;
}
.dashboard header .brand figure {
  width: 50px;
}
.dashboard header .brand figure img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dashboard header .icon {
  font-size: 20px;
}
.dashboard header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.dashboard header .menu ul {
  list-style-type: none;
  line-height: 1.8;
}
.dashboard aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: aside;
  background: lightgrey;
}
.dashboard aside .box {
  min-width: 300px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
}
.dashboard aside .box p {
  padding: 5px 10px;
}
.dashboard aside .box .arrow {
  display: flex;
  margin: -20px 0px 0px 280px;
}
.dashboard main {
  grid-area: main;
}
.dashboard main .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.dashboard main .cards .cardContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 80%;
  display: none;
}
.dashboard main .cards .cardContainer:first-child {
  display: flex;
}
.dashboard main .cards .cardContainer img {
  width: 100%;
  height: 80%;
}
.dashboard main .cards .cardContainer .cardFooter button {
  background-color: #3e59aa;
  height: 30px;
  width: 80px;
  color: white;
}
.dashboard main .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dashboard main .pagination a {
  color: blue;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.dashboard main .pagination a:active {
  background-color: lightgray;
  color: white;
  border: 1px solid lightgray;
}
.dashboard main .pagination a:hover:not(.active) {
  background-color: #ddd;
}
.dashboard footer {
  grid-area: footer;
  background: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

@media (min-width: 576px) {
  .dashboard {
    display: grid;
    grid-template-areas: "header aside aside aside aside" "header main main main main" "footer main main main main";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 250px;
  }
  .dashboard header {
    height: 100vh;
  }
  .dashboard header nav .brand figure {
    width: 20px;
  }
  .dashboard header nav .icon {
    display: none;
  }
  .dashboard aside .box {
    min-width: 750px;
  }
  .dashboard aside .box .arrow {
    display: flex;
    margin: -20px 0px 0px 725px;
  }
  .dashboard main .cards {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .dashboard main .cards .cardContainer {
    display: flex;
  }
}/*# sourceMappingURL=styles.css.map */